body{
	background-color: #F0F0F0; 
	color: #666;
	font-family: "Roboto Condensed", sans-serif;
}
.container{
	background-color: #FFFFFF;
	border: solid 1px #CCC;
	color: #666;
	margin: auto;
	min-height: auto;
	padding: 20px;
	width:100%;
}
.form input{
	padding: 6px;
	width: 80%;
}
#ventana{/*Formato de la ventana modal de "ventana"*/
	background-image: url(../../imagenes/bg-modal.png);
	color: #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
#ventana .form{
	background-color: #FFFFFF;
	border-radius: 20px;
	color: #666;
	height: auto;
	left: 30%;
	padding: 25px;
	position: absolute;
	right: 30%;
	text-align: center;
	top: 20%;
	width: auto;
}
#ventana .form table{
	text-align: left;
	width: 100%;
}
#ventana2{
	background-image: url(../../imagenes/bg-modal.png);
	color: #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
#ventana2 .form{
	background-color: #FFFFFF;
	border-radius: 20px;
	color: #666;
	height: auto;
	left: 30%;
	padding: 25px;
	position: absolute;
	right: 30%;
	text-align: center;
	top: 25%;
	width: auto;
}
#ventana2 .form table{
	text-align: left;
	width: 100%;
}
.cerrar{
	font-weight: 900;
	text-align: right;
}
.cerrar a{
	color: red;
}
.boton_enviar{
	border-radius: 10px;
}
.boton_enviar:hover{
	background-color: #2D9DC6;
	color: #FFFFFF;
}
#desplegable_resultados{
	min-height: 100px;
	width: 90%;
}
.center{
	text-align: center;
}
.footer{
	clear: both;
	color: #252932;
	font-size: 14px;
}

/*Se inicia estilos para el resultado de buscador_municipios.php*/
.art{
	background-color: #F1F1F1;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-radius: 10px;
	display: block;
	margin-bottom: 2px;
	margin-left: 30px;
	padding: 5px;
	width: auto;
}
.art:hover{
	box-shadow: 10000px 0 #2D9DC6 inset;
	color: #FFFFFF;
}
.art a{
	display: block;	
	text-decoration: none;
}
.art a:hover{
	color: #FFFFFF;
}
.art span{
	font-size: 15px;
}

/*Fin de estilos para el resultado de buscador_municipios.php*/

/*Se inicia estilos al form cuando es movil o ventana menos de 768px
 de principal3.php*/			
@media screen and (max-width: 768px){

	
	#ventana{
		color: #FFFFFF;
		display: none;
		height: auto; /*Si height es 100% hace la animacion de display hacia abajo*/
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	#ventana .form{
		background: #585858;
		border-radius: 20px;
		color:#FFFFFF;
		height: auto;
		left: 2%;
		padding: 5px;
		position: absolute;
		right: 2%;
		top: 2px;
		width: 85%;
	}
	#ventana2{
		color: #FFFFFF;
		display: none;
		height: auto; /*Si height es 100% hace la animacion de display hacia abajo*/
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	#ventana2 form{
		background: #585858;
		border-radius: 20px;
		color:#FFFFFF;
		height: auto;
		left: 2%;
		padding: 5px;
		position: absolute;
		right: 2%;
		top: 2px;
		width: 85%;
	}
	.blanco{
		color: #FFFFFF;
	}
}
/* Fin estilos al form cuando es movil o ventana menos de 768px de principal3.php*/	
.errores{
	background: red;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	color: #FFFFFF;
	display: none;
	float: center;
	font-size: 12px;
	padding: 5px;
	position: relative;	
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}