/*Estilos para la pagina en general*/
*{
	padding: 0;
	margin: 0:
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: #F0F0F0; 
	color: #666;
	font-family: "Roboto Condensed", sans-serif;
}
.container{
	background-color: #FFFFFF;
	border: solid 1px #CCC;
	margin: auto;
	min-height: auto;
	padding: 20px;
	width:100%;
}
.center{
	text-align: center;
}

.formulario_modal input{ /*Estilos de la casilla de busqueda de remitente*/
	padding: 6px;
	width: 60%;
}
.footer{
	clear: both;
	color: #023859;
	font-size: 14px;
}
.footer a{
	color: #023859;
}
.footer a:hover{
	color: #B40431;
}
#sugerencias_remitente{
	min-height: 100px;
	width: 90%;
}
.ventana_modal .formulario_modal table{
	padding-left: 20%;
	padding-right: 20%;
	text-align: left;
	width: 100%;
}
#ventana_modal .formulario_modal table input{
	width: 100%;
}
.cerrar{
	font-weight: 900;
	text-align: right;
}
.cerrar a{
	color: red;
}
.boton_enviar{
	padding: 5px;
	border-radius: 10px;
}
.boton_enviar:hover{
	background-color: #2D9DC6;
	color: #FFFFFF;
}
.ventana_modal{ /*Formato ventana modal Formulario Agregar Nuevo Contacto*/
	background-image: url(../../imagenes/bg-modal.png);
	color: #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.ventana_modal .formulario_modal{
	background-color: #FFFFFF;
	border-radius: 20px;
	color: #666;
	height: auto;
	left: 5%;
	padding: 25px;
	position: absolute;
	right: 5%;
	text-align: center;
	top: 10%;
	width: auto;
}

/*Se inicia estilos para el resultado de buscador_municipios.php*/
.sugerencia_contacto{
	background-color: #F1F1F1;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-radius: 10px;
	display: block;
	margin-bottom: 2px;
	margin-left: 30px;
	padding: 5px;
	width: auto;
}
.sugerencia_contacto:hover{
	box-shadow: 10000px 0 #2D9DC6 inset;
	color: #FFFFFF;
}
.sugerencia_contacto a{
	display: block;	
	text-decoration: none;
	margin-left: 20px;
}
.sugerencia_contacto a:hover{
	color: #FFFFFF;
}
.sugerencia_contacto span{
	font-size: 15px;
}
.titulo{ /*Formato de la letra del listado de remitentes encontrados en la busqueda de radicación entrada*/
	font-size: 25px;
}
.subtitulo{
	font-size: 7px;
}
/*Fin de estilos para el resultado de buscador_municipios.php*/
/*Se inicia estilos de formulario de radicacion de entrada*/
#formulario_radicacion{
	/*float: left;
	width: 40%;*/
	padding-left: 20px;
	padding-right: 20px;
}
.celda{
	padding: 6px;
	width: 60%;
}
#previsualizacion{
/*
	background: url(../../imagenes/plantilla.png);

   background-repeat: no-repeat;
   width:100%;
   height:100%;
	border-left: solid #666666;
	border-right: solid #666666;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
	width: 60%;
*/	
}


#encabezado_radicado{
	width: 60%;
	z-index: 0;
}
#codigo_barras{
	padding-left: 20px;
	z-index: 10;
}
/*
#marca_agua{
	border-left: solid #666666;
	width: 60%;
	z-index: -1;
}
#piedepagina_radicado{
	top: 1500px;
	width: 60%;	
	z-index: 50;

}
*/
/*Fin estilos de formulario de radicacion de entrada*/

/*Se inicia estilos al form cuando es movil o agregar_contacto menos de 768px
 de idex_entrada.php*/			

@media screen and (max-width: 768px){
	.ventana_modal{
		display: none;
		height: auto; /*Si height es 100% hace la animacion de display hacia abajo*/
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	.ventana_modal .formulario_modal{
		background: #585858;
		border-radius: 20px;
		color:#FFFFFF;
		height: auto;
		left: 5%;
		padding: 5px;
		position: absolute;
		right: 5%;
		top: 2px;
		width: 90%;
	}
	.ventana_modal .formulario_modal table{
		color: #FFFFFF;
		padding-left: 2%;
		padding-right: 2%;
		text-align: left;
		width: 100%;
	}
	#formulario_radicacion{
		
		border-right: solid #666666;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#previsualizacion{
		width: 100%;
	}
}
/*Fin estilos al form cuando es movil o agregar_contacto menos de 768px de index_entrada.php*/

.errores{
	background: red;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	color: #FFFFFF;
	display: none;
	float: center;
	font-size: 12px;
	padding: 10px;
	position: relative;	
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
