/*Estilos para la pagina en general*/
*{
	padding: 0;
	margin: 0:
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}
body{
	color: #666;
	background-color: #F0F0F0; 
	font-family: "Roboto Condensed", sans-serif;
}
.container{
	width:100%;
	min-height: 300px;
	margin: auto;
	padding: 5px;
	background-color: #FFFFFF;
	border: solid 3px #CCC;
}
.center{
	text-align: center;
}
#titulo_radicacion{
	font-size: 25px;
}
#atras{
	font-weight: 900;
	text-align: right;
}
#logo{
	text-align: top;

}
.form input{
	width: 60%;
	padding: 6px;
}
.footer{
	font-size: 14px;
	color: #252932;
	clear: both;
}
#resultados{
	width: auto;
}
#resultado{
	width: auto;
}
.art{
	margin-bottom: 2px;
	background-color: #F1F1F1;
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	display: block;
	width: 100%;
	border-radius: 10px;
}
.art a{
	text-decoration: none;
	display: block;	
}
.art:hover{
	box-shadow: 10000px 0 #2D9DC6 inset;
	color: #FFFFFF;
}

.ver_creador{
	font-size: 11px;
	float: auto;
	display: inline-block;
}
.agregar_contacto{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	position: fixed;
	background-image: url(../imagenes/bg-modal.png);
	top: 0;
	left: 0;
	display: block;
}
.agregar_contacto .formulario_agregar_contactos{
	width: 95%;
	height: 500px;
	padding: 25px;
	background-color: #FFFFFF;
	color: #666;
	top: 5%;
	left: 3%;
	position: absolute;
	text-align: center;
}
.cerrar{
	font-weight: 900;
	text-align: right;
}
.cerrar a{
	color: red;
}
.agregar_contacto .formulario_agregar_contactos table{	
	padding-left: 50px;
	text-align: left;
	width: 90%;
}
.titulo{
	font-size: 18px;
}
.subtitulo{
	font-size: 12px;
}
.contenido{
	font-size: 15px;
	text-align: left;
}
.formulario_entrada{
	width:100%;
	margin: auto;
	padding: 5px;
	background-color: #FFFFFF;
	border: solid 3px #CCC;
}
.ventana{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	position: fixed;
	background-image: url(../imagenes/bg-modal.png);
	top: 0;
	left: 0;
	display: none;
}
.ventana .form{
	width: 95%;
	height: 480px;
	padding: 25px;
	background-color: #FFFFFF;
	color: #666;
	top: 5%;
	left: 3%;
	position: absolute;
	text-align: center;
}
.ventana .form table{
	padding-left: 50px;
	text-align: right;
	width: 90%;
}
.celda{
	width: 75%
}
.celda input{
	width: 80%;
}
#enviar_modificacion{
	border-radius: 10px;
}
#enviar_modificacion:hover{
	background-color: #2D9DC6;
	color: #FFFFFF;
}
/*Se inicia estilos al form cuando es movil o agregar_contacto menos de 768px
 de idex_entrada.php*/			
@media screen and (max-width: 768px){
	.agregar_contacto{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	position: relative;
	background-image: url(../imagenes/bg-modal.png);
	top: 0;
	left: 0;
	display: none;
	}
}
/*Se inicia estilos al form cuando es movil o agregar_contacto menos de 768px
 de idex_entrada.php*/
.errores{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: red;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;	
	padding: 5px;
	border-radius: 10px;
	float: center;
	display: none;
	text-align: center;
}