/*Estilos para la pagina en general*/
*{
	padding: 0;
	margin: 0:
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contenedor_general{
	background-color: #252932;	
}
/*Fin estilos para la pagina en general*/
/*Estilo de encabezado para la pagina en general*/
#encabezado{
	width: 100%;
	background-color: #023859;
	z-index: 500;
	color: #FFFFFF;
	height: 80px;
}
#encabezado .logo{
	font-size: 40px;
	line-height: 80px;
	margin-right: 30px;
	vertical-align: middle;
	float: right;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
#encabezado nav{
	width: 50%;
	float: left;
	margin-right: 30px;
	z-index: 1000;
	top: 15px;
}
#encabezado nav ul{
	list-style: none;
	border-radius: 10px;
}
#encabezado nav ul li{
	display: inline-block;
	position: relative;
	padding: 10px 2px;
	box-shadow: 0px 0 #2D9DC6 inset;
	-webkit-transition: all 0.5s ;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
}

#encabezado nav ul li:hover{
	box-shadow: 400px 0 #2D9DC6 inset;
}
#encabezado nav ul li a{
	color: #FFFFFF;
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 10px;
}
#encabezado nav ul li a span{
	margin-right: 10px;
}
#encabezado nav ul li:hover .children{
	display: block;
}
#encabezado nav ul li .children{
	display: none;
	background: #011826;
	color: #FFFFFF;
	position: absolute;
	width: 370px;
	z-index: 1000;
	padding: 5px;
}
#encabezado nav ul li .children li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
#encabezado nav ul li .children li a{
	display: block;
}
.icon-grid, .icon-search, .icon-bell, .icon-graph, .icon-user{
		font-size: 30px;
}
.boton_menu, .boton_menu_lateral{
	display: none;
}
/*Fin estilo de encabezado para la pagina en general*/
/*Se inicia estilos al encabezado cuando es movil o ventana menos de 768px
 de principal3.php*/			
@media screen and (max-width: 768px){
	body{
		padding-top:120px;
	}
	#encabezado{
		top: 0;
		background-color: #252932;
		z-index: 1000;
		color: #FFFFFF;
		width: 100%;
		height: 80px;
		position: fixed;
	}
	#encabezado .logo {
		top: 0;
		font-size: 30px;
		line-height: 60px;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		position: fixed;
		z-index: 1000;
	}
	.boton_menu{
		display: block;
		width: 50%;
		position: fixed;
		top: 60px;
		background: #023859;
	}
	.boton_menu .bt-menu{
		display: block;
		padding: 15px;
		color: #FFFFFF;
		overflow: hidden;
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
	}
	.boton_menu_lateral{
		display: block;
		width: 50%;
		position: fixed;
		top: 60px;
		background: #023859;
		margin-left: 50%;
	}
	.boton_menu_lateral .bt-menu{
		display: block;
		padding: 15px;
		color: #FFFFFF;
		overflow: hidden;
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
	}
	#encabezado nav{
		top:104px;
		background: #023859;
		width: 80%;
		height: calc(100% - 120px);
		position: fixed;
		right: 100%;
		margin: 0;
		overflow: scroll;
	}
	#encabezado nav ul li a{
		display: inline-block;
	}
	#encabezado nav ul li .children{
		width: 100%;
		position: relative;
	}
	#encabezado nav ul li:hover .children{
		display: none;
	}
	#menu_left nav{
		top: 104px;
		background: #023859;
		width: 80%;
		height: calc(100% - 120px);
		position: fixed;
		right: 100%;
		margin: 0;
		overflow: scroll;
	}
	#menu_left nav ul li a{
		display: inline-block;
	}
	#menu_left nav ul li .children{
		width: 100%;
		position: relative;
	}
	#menu_left nav ul li .children li a{
		margin-left: 20px;
	}
	#menu_left nav ul li:hover .children{
		display: none;
	}
	.caret{
	position: relative;
	float: right;
	}
/* Desde aqui es el estilo para móviles del contenido*/
	#contenido{
	
	}
/* Hasta aqui es el estilo para móviles del contenido*/
}
/*Hasta aqui terminan los estilos al encabezado cuando es movil o ventana menos de 768px
 de principal3.php*/	
/*Estilo de menu_izquierda para la pagina en general*/
#menu_izquierda{
	width:200px;
	float: left;
}
#menu_left nav{
	background: #023859;
	margin-right: 30px;
	z-index: 900;
	width: 100%;
	float: left;	
}
#menu_left nav ul{
	list-style: none;
	border-radius: 10px;
}
#menu_left nav ul li{
	display: block;
	position: relative;
	padding: 10px 2px;
	box-shadow: 0px 0 #2D9DC6 inset;
	-webkit-transition: all 0.5s ;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
}
#menu_left nav ul li:hover{
	box-shadow: 400px 0 #2D9DC6 inset;
}
#menu_left nav ul li a{
	color: #FFFFFF;
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 10px;
}
#menu_left nav ul li a span{
	margin-right: 10px;
}
#menu_left nav ul li:hover .children{
	/*display: block;*/
}
#menu_left nav ul li .children{
	display: none;
	background: #011826;
	position: relative;
	color: #FFFFFF;
	width: 250px;
	z-index: 1000;
	padding: 5px;
}
#menu_left nav ul li .children li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
	padding: 10px;
}
#menu_left nav ul li .children li a{
	display: block;
}
.caret{
	position: relative;
	top:3px;
	margin-left: 25px;
	margin-right: 0px;
}

/*Fin estilo de menu_izquierda para la pagina en general*/
/*Estilo del body*/
body{
	margin: 0:
}
#contenido{
	float: left;
	width: 75%;
}
.ventana{
	display: none;
}


/*<!-- Inicio prueba de acordeon-->	*/


.accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    background: #2c3e50;
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #16a085;
    color: #fff;
}
.accordion-titulo:hover {
    background: #1abc9c;
}
 
.accordion-titulo span.toggle-icon:before {
    content:"+";
}
 
.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}
 
.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight:bold;
}
 
.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}
 
.accordion-content p{
    margin:0;
}
 
.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
}
/*<!-- fin prueba de acordeon-->	*/
